* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #08090a;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}

a {
    color: #eef1ef;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

/*  --------------------------- All Header Styles -------------------------- */
header {
    background-color: #08090a;
    color: #fff;
    position: sticky;
    top: 0;
    padding: 22px 17px;
    z-index: 20
}

.header_logo {
    width: 100px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container .hamburger_menu {
    width: 35px;
    cursor: pointer;
}

.download_btn {
    display: none;
    border: none;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgb(78, 78, 78);
    padding: 17px 32px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.header_container .download_btn:hover {
    background-color: #a3d000;
    color: #08090a;
}


/* ---------------------------------- Mobile Nav Styles ---------------------------------- */
.header_nav_mobile {
    background-color: #212121;
    color: whitesmoke;
}

.header_nav_mobile {
    position: fixed;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    width: 100%;
    width: 70%;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 22px;
    z-index: 50;
    transition: all 0.5s ease-in-out
}

.header_ul_mobile li {
    margin: 24px 0;
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.hamburger_menu {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

.close_menu {
    margin-left: auto;
    margin-bottom: 1rem;
    cursor: pointer;
}

.show_nav {
    right: 0;
}

.hide_nav {
    right: -100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    z-index: 10;
    transition: opacity 0.6s ease-in-out;
}

.show_overlay {
    opacity: 1;
    z-index: 40
}

.mobile_download {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto auto 0 auto;
    border: none;
    background-color: #a3d000;
    color: #08090a;
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.mobile_download span {
    font-size: 20px;
}

.mobile_download:hover {
    background-color: #c1f507
}

.mobile_features_container {
    display: none;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;

}

.mobile_resource_container,
.mobile_compare_container {
    display: none;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
}

.mobile_resource_column li,
.mobile_compare_column li {
    margin: 10px 0;
}

.mobile_features_column h5,
.mobile_resource_column h5,
.mobile_compare_column h5 {
    display: flex;
    font-weight: 400;
    align-items: center;
    gap: 6px;
    margin-bottom: -0.5rem;
}

.mobile_features_column li a h6,
.mobile_resource_column li a h6,
.mobile_compare_column li a h6 {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 600;
    font-size: 14px;
}

.mobile_features_column li a h6:hover,
.mobile_resource_column li a h6:hover,
.mobile_compare_column li a h6:hover {
    color: #babbba;
}

.show_mobile_features_container {
    display: flex;
}

.rotate_one {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.rotate_two {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.show_mobile_resource_container {
    display: flex;
}

.rotate_three {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.show_mobile_compare_container {
    display: flex;
}


/* ------------------------------ Desktop Nav Styles --------------------------------- */
.header_container .header_nav_desktop {
    border: 1px solid rgb(78, 78, 78);
    border-radius: 35px;
    background-color: #08090a;
}

.header_ul_desktop {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header_ul_desktop li {
    padding: 4px;
}

.header_ul_desktop li a {
    color: #babbba;
    display: inline-block;
    padding: 11px 22px;
    border-radius: 30px;
}

.header_ul_desktop li a:hover {
    background-color: #212121;
    transition: all 0.3s ease;
}


/* ----------------- Features nav ---------------------*/
.features_ul {
    display: none;
    width: 100%;
    position: fixed;
    top: 15%;
    z-index: 30;
    color: #fff;
    margin: 0;
    padding: 2rem;
    background-color: #212121;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.features_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.features_column {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.features_column li {
    max-width: 85%;
}

.features_column li a h6 {
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 8px;
    color: #fff;
}

.features_column li a p {
    font-size: 14px;
    padding: 4px 0;
    color: #babbba;
}

.features_column li a p:hover {
    color: #fff;
}

.features_column h5 {
    color: #a3d000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: 1.5px;
}

.header_group_one {
    background-color: #212121;
    transition: all 0.1s ease-in-out;
}

.show_features_ul {
    display: flex;
    transition: top 0.1s ease-in-out;
}



/*  ----------------- Resource Nav ------------------ */
.resource_ul {
    display: none;
    width: 100%;
    position: fixed;
    top: 15%;
    z-index: 30;
    color: #fff;
    margin: 0;
    padding: 2rem;
    background-color: #212121;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.resource_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.resource_column {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.resource_container .resource_column li {
    max-width: 85%;
}

.resource_column li a h6 {
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 8px;
    color: #fff;
}

.resource_column li a p {
    font-size: 14px;
    padding: 4px 0;
    max-width: 85%;
    color: #babbba;
}

.resource_column a p:hover {
    color: #fff;
}

.header_group_two {
    background-color: #212121;
    transition: all 0.1s ease-in-out;
}

.show_resource_ul {
    display: flex;
    transition: top 0.1s ease-in-out;
}


/* --------------------- Compare Nav ---------------------- */
.compare_ul {
    display: none;
    width: 100%;
    position: fixed;
    top: 15%;
    z-index: 30;
    color: #fff;
    margin: 0;
    padding: 2rem;
    background-color: #212121;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.compare_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-content: center;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
}

.compare_container .compare_column {
    width: fit-content;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 20px;
    padding: 18px 32px;
}

.compare_column li a.fiveth_link {
    display: flex;
    align-items: center;
    gap: 6px;
}

.compare_column li a i {
    font-size: 1.25rem;
}

.compare_column li a h6 {
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 8px;
    color: #fff;
}

.compare_column li a h6 i {
    font-size: 2rem;
}

.compare_column li a p {
    font-size: 14px;
    padding: 4px 0;
    max-width: 85%;
    color: #babbba;
}

.compare_column a p:hover {
    color: #fff;
}

.compare_ul button {
    display: block;
    border: none;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgb(78, 78, 78);
    padding: 16px 32px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 30px;
    transition: background-color 0.5s ease;
    cursor: pointer;
    margin: 2.25rem auto 0.5rem auto;
}

.compare_ul button:hover {
    background-color: #fff;
    color: #08090a;
}

.header_group_three {
    background-color: #212121;
    transition: all 0.1s ease-in-out;
}

.show_compare_ul {
    display: block;
    transition: top 0.1s ease-in-out;
}


/* ---------------------- Main Element --------------------------- */
main {
    min-height: 100vh;
    width: 100%;
    background-color: #08090a;
    color: #fff;
}


/* ---------------------------- Hero's Page ------------------------------ */
.hero {
    display: block;
    width: 60%;
    text-align: center;
    margin: 3rem auto;
}

.hero h2 {
    font-size: 3.6rem;
    line-height: 3.5rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    font-family: 'old';
    font-style: italic;
}

.hero p {
    margin: 1rem 0;
    font-weight: 600;
}

.hero button {
    margin: 2.5rem auto 1rem auto;
}

.rating_stars {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}


/* --------------------------- Features's Page -------------------------------- */
.features_page_container {
    margin: 4rem auto;
    width: 85%;
    border: 1px solid rgb(107, 106, 106);
    border-radius: 15px;
    background-color: #1f1e1e;;
}

.features_page_container .head {
    background-color: #08090a;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: 6px;
    border-bottom: 1px solid rgb(107, 106, 106);;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.head div {
    width: 9px;
    height: 9px;
    background-color: #212121;
    border: 1px solid rgb(107, 106, 106);
    border-radius: 50%;
}

.features_page {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 0 auto;
    width: 100%;
    gap: 3rem;
}

.features_page_image {
    width: 80%;
    margin: 0 auto;
}

.features_details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.features_details div h3 {
    font-size: 2rem;
    text-align: center;
}

.features_details div p {
    margin: 1rem 0;
    max-width: 95%;
    color: #e5e9e5;
    line-height: 1.5rem;
    text-align: center;
}

/* ------------------------------------- Media Query ----------------------------------- */
@media screen and (min-width: 1200px) {
    .features_page_container {
        margin: 8rem auto;
    }

    .features_page {
        flex-direction: row-reverse;
        gap: 4rem;
        align-items: center;
    }

    .features_page_container .head {
        height: 50px;
    }

    .head div {
        height: 12px;
        width: 12px;
    }

    .features_page_image {
        width: 30%;
    }

    .features_details div h3,
    .features_details div p {
        text-align: start;
    }

    header {
        padding: 22px 32px;
    }

    .header_logo {
        width: inherit;
    }

    .header_nav_mobile {
        display: none;
    }

    .header_ul_desktop {
        display: flex;
    }

    .header_container .download_btn {
        display: flex;
    }

    .hamburger_menu {
        display: none;
    }

    .overlay {
        display: none;
    }

    .hero {
        margin-top: 5rem;
    }

    .hero h2 {
        font-size: 6rem;
        line-height: 6rem;
        font-weight: 700;
    }

    .hero p {
        margin: 1.5rem auto 1rem auto;
        max-width: 50%;
        font-size: 1.5rem;
    }
}